# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Settings (gevoelige data)
settings.ini
.env

# Database (runtime database niet committen)
data/study_tracker.db


# Output bestanden
output/
*.csv
*.xlsx

# IDEs
.spyderproject
.spyproject
.vscode/
.idea/
